/* ----------DESKTOP---------------------------- */
@media only screen and (min-width: 1080px) {
#navbar {
    position: sticky;
    top: 5vh;
    width:18%;
    left: 90%;
    min-height: 15vh;
    height: fit-content;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    z-index: 999;
    color:  #fffffffc;
    font-size: 40px;
    /* background-color: rgba(255, 0, 0, 0.292); */
    border: 0.5px solid #7a7a7a;

}
#navigation-list {
    /* background-color: rgba(255, 0, 0, 0.292); */
    border: 0.5px solid #7a7a7a;

    position: fixed;
    width: 18%;
    height: fit-content;
    top: 25vh;
    right: 0.5%;
    z-index: 999;
    text-align: center;

}

#navigation-list ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#navigation-list ul li{
    line-height: 40px;
    margin-left: 1vw;
    overflow: scroll;
    white-space: nowrap;
}
#navigation-list ul li a{  
    text-decoration: none;
    font-size: 18px;
    color: #d3d3d3;
    line-height: 20px;
}
#navigation-list ul li a:hover{  
    color:#ff0404;
    font-size: 20px;

} 
#content {
    margin-top: 5vh;
    margin-bottom: 5vh; /* Ensure content is below the fixed navbar */
    padding-top: 0; /* Remove padding-top to prevent additional space */
}

  
.collaboration {
    height: fit-content;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 10em;
    /* background-color: #7a7a7a; */
}
.collaboration.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.toad-video{
    width: 100%;
    height: auto;
}
.video-container{
    margin-top: -10vh;
}
.collab-text{
    /* position: absolute; */
    margin-left: 0vw;
    width: 100%;
    margin-bottom: 1em;
}
.collab-text p{
    color: #969494;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    word-wrap: none;
    margin-bottom: 5vh;
}
.short-img{
    margin-top: 0em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vw; 
}

.short-img img{
    margin-right: 3vw;
    max-width: 100%;
    height: auto;
}

.audio-title {
    color: #7a7a7a;
    font-size: 22px;
    margin-top: 1em;
}

.audio-title:first-child {
    margin-top: 0;
}
  
audio {
    width: 75%;
    margin: 1vh 0;
}
  
.sound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-top: 5vh;
    border: 0.5px solid #7a7a7a;
  }
  
  .sound-container h2 {
    font-size: 46px;
    text-align: center;
    color: #ff0404;
 
  }
  
  .audio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
  }
  
  .audio-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
  }
  
  .play-button {
    background-color: #ff0404;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
  }
  
  .progress-bar {
    width: 30vw;
    height: 2vh;
    background-color: #d3d3d3;
    margin-left: 1em;
    border-radius: 10px;
  }
  
  .progress {
    height: 100%;
    width: 0;
    border-radius: 10px;
    background-color: #ff0404;
  }
  

  /* -------------NOWHERE ACTUALY EXISTING-------------- */
  .collab-img{
    margin-top: 0em;
  }
  .collab-img img{
    width: 100%;
    height: auto;
    
  }
  .collab-text h4{
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 0;
  }
  video{
    width: 100%;
    height: auto;
  }
  .top-bar{
    display: none;
  }

}



/* ----------Mobile---------------------------- */

/* ----------Mobile---------------------------- */

/* ----------Mobile---------------------------- */
@media only screen and (max-width: 1079px) {
  #navbar {
    display: none;
  
  }
  #navigation-list {
    display: none;
  }

  .top-bar{
    position: fixed;
    width: 100%;
    height: 7vh;
    /* color: rgb(20,20,20); */
    background-color: rgb(20,20,20); 
    top: 0vh;
    left:0;
    z-index: 0;
  }
  .collaboration {
      height: fit-content;
      width: 90%;
      margin-left: 5%;
      margin-bottom: 10em;
      /* background-color: #7a7a7a; */
  }
  .collaboration.clearfix::after {
      content: "";
      display: table;
      clear: both;
  }
  .collaboration-titles{
    position: relative;
    width: 100%;
    font-size: 24px;
    color: white;
    margin-top: 8vh;
    margin-bottom: 3vh;
    text-align: center;
    border: 0.5px solid #7a7a7a;
    z-index: -1;
  }
  .toad-video{
      width: 100%;
      height: auto;
  }
  .video-container{
      margin-top: 0vh;
  }
  .collab-text{
      /* position: absolute; */
      margin-left: 0vw;
      width: 100%;
      margin-bottom: 1em;
  }
  .collab-text p{
      color: #969494;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 20px;
      word-wrap: none;
      margin-bottom: 5vh;
  }
  .short-img{
      margin-top: 0em;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2vw; 
  }
  
  .short-img img{
      margin-right: 3vw;
      max-width: 100%;
      height: auto;
  }
  
  .audio-title {
      color: #7a7a7a;
      font-size: 14px;
      margin-top: 0em;
  }
  
  .audio-title:first-child {
      margin-top: 0;
  }
    
  audio {
      width: 75%;
      margin: 1vh 0;
  }
    
  .sound-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: fit-content;
      margin-top: 5vh;
      border: 0.2px solid #7a7a7a;
    }
    
    .sound-container h2 {
      font-size: 24px;
      text-align: center;
      color: #ff0404;
   
    }
    
    .audio-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 1em;
    }
    
    .audio-controls {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0.5em;
    }
    
    .play-button {
      background-color: #ff0404;
      color: #fff;
      border: none;
      padding: 0.2em 1em;
      cursor: pointer;
    }
    
    .progress-bar {
      width: 40vw;
      height: 1vh;
      background-color: #d3d3d3;
      margin-left: 1em;
      border-radius: 20px;
    }
    
    .progress {
      height: 100%;
      width: 0;
      border-radius: 5px;
      background-color: #ff0404;
    }
    
  
    /* -------------NOWHERE ACTUALY EXISTING-------------- */
    .collab-img{
      margin-top: 0em;
    }
    .collab-img img{
      width: 100%;
      height: auto;
      
    }
    .collab-text h4{
      font-size: 18px;
      color: #ffffff;
      margin-bottom: 0;
    }
    video{
      width: 100%;
      height: auto;
    }
  
  }