.video-wrapper {  /* for scrolling later */
    position: relative;
    height: 70vh;
    /* overflow: hidden; */

    background-color: #c1c1c1;
   
  }

.vimeo-container {          /* Echoes Vimeo  */
    align-items: center;
    position: relative;
    margin-top: 10vh; /*use this when I don't want it to overlap with text no matter the screen size*/
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    height: auto;
    padding-bottom: 5vh;
  }

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    z-index: -1;
    overflow: hidden;
    
}

video { 
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.description{ /* description  container*/
  position: fixed;
  top: 18%;
  left: 0;
  width: 100%;
  height: 90vh;

  z-index: 2;

  letter-spacing: 5px;
  line-height: 30px;
  max-height: 80vh;
  /* overflow: hidden; */
  overflow-y: scroll;
  /* background-color: rgba(173, 61, 61, 0.307); */

}
  #customDesc {/* description  container*/
    /* position: absolute; */
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #c1c1c1;
    font-size: 18px;
 
  }

.process-container{
    /* background-color: rgb(94, 43, 43); */
    position: relative;
    /* display: flex; */
    margin-top: 10vh;
    width: 98%;
    height: 5vh;
    /* overflow-y: scroll; */
    z-index: 0;
}

#title{
    position: relative;
    text-align: center;
    font-size: 34px;
    color: white;
    /* margin-left: 10%;
    margin-right: 10%; */
    width: fit-content; 
    margin: 0 auto; 
}


/* This is for the documentation */

.individual-container{/* container containers*/
    position: absolute;
    /* display:flex;
    flex-direction: row;
    justify-content:left; */
    width: 100%;
    height: 75vh;
    z-index: 3;
    /* align-items: left; */
    overflow-y: scroll;
}

.cont-inside{ /* individual containers*/

    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 10px; /* Adjust the gap between images */

    position: relative;
    /* background-color: #ffcfcf43; */
    width: 96%;
    height: 70vh;
    margin-top: 3vh;
    margin-left: 2%;
    margin-right: 2%;
    z-index: 3;
    overflow-y: scroll;
}

.cont-inside img {
    width: 100%;
    height: auto;
  }

.process-title{
    font-size: 24px;
    color: rgb(224, 224, 224);
    text-align: center;
}


