*{
    margin: 0;
}
body{
    background-color: #d1cabd;
    /* overflow: scroll; */
}
/* .background-img{
    position: absolute;
    background-image: url('../assets/home-background/bground.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
    width: 100%;
    height: 100%;
    top: 3%;
} */
  
.venaur {
    position: fixed;
    text-align: center;
    top: 2vh;
    right: 10%;
    margin: auto;
    z-index: 10;
}

.venaur h1 {
    color: #682323;
    opacity: 0.6;
    font-family: Tahoma;
    letter-spacing: 4px;

} 
.top-line{
    position: fixed;
    width: 100%;
    top: 5em;
    height: 3px;
    background-color: #4c4945;
    z-index: 0;
}
.top-bar{
    position: fixed;
    width: 100%;
    top: -1em;
    height: 6em;
    background-color: #d1cabd;
    z-index: 3;
    display: flex; 
    align-items: center; /* Center vertically */
}








/* Example CSS for your sections */
section {
    width: 100%;
}

/* Style for the section container */
.section-container {
    /* display: flex;
    flex-direction: column; */
    align-items: center; /* Center the title horizontally */
    text-align: center; /* Center the title text */
}
.fixed-title {
    position: fixed;
    text-align: center;
    right: 0;
    left: 0;
    width: 20%; /* Adjust width as needed */
    background-color: #aba59a;
    z-index: 5;
    padding: 10px;

    /* Add other styles like font size, text color, etc. */
    font-family: Tahoma;
    font-size: 28px;
    letter-spacing: 4px;
    color: #682323;

    /* Center the title horizontally and vertically */
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Use opacity to hide and show the titles */
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fixed-title.active {
    opacity: 1;
}





/* Style for the artwork */
.artwork {
    width: 100%; /* Make the artwork span the entire width */
    /* Add other styles for the artwork container */
    margin-top: 3em;
    margin-bottom: 5em;
    z-index: -5;

}
.artwork img{
    width: 70vw;
}

.title-placeholder {
    height: 10em; /* Adjust the height to match the fixed title's height */
}


.navbar {
    position: fixed;
    top: 3em;
    left: 0;
    width: 100%;
    background-color: none; /* Adjust the background color */
    color: #fff; /* Adjust the text color */
    /* padding: 1em 0; */
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: left;
}

.navbar li {
    margin: 0 1em; /* Adjust the spacing between navigation items */
}

.navbar a {
    text-decoration: none;
    color: #682323;
    opacity: 0.6;/* Adjust the link text color */
    font-family: Tahoma;
    font-size: 20px;
    transition:all 0.3s;
}

.navbar a:hover {
    opacity: 1;
    font-size: 22px;
}

/* -------Installations--------------- */
.art-containers {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 90%;
    height: 100%;
    gap: 1em;
    margin: 0 auto; /* Center horizontally */
    margin-top: 5em;
    margin-bottom: 5em;
}


.individual-container {
    margin: 2em;
    width: auto;
    height: 20em;
    background-color: #d1cabd;
    /* background-color: #413e39; */

    display: flex; /* Add this to center the content inside individual-container */
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center content horizontally within individual-container */
}
.individual-container video{
    object-fit: cover;
    width: 100%;
    height: auto;
    opacity: 0.4;
    filter: blur(1px);
    transition: all 0.5s ease;
}
.individual-container img{
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 40em;
    opacity: 1;
    filter: blur(0);
    transition: all 0.3s ease;
}


.individual-container img:hover{
    opacity: 0.5; 
    filter: blur(2px);

}
.individual-container video:hover{
    opacity: 0.4; 
    filter: blur(2px);

}
.individual-container-title{
    position: absolute;
    width: auto;
    background-color: rgba(0, 0, 0, 0.462); /* Background color for the title bar */
    padding: 5px; /* Add padding for spacing */
    color: white; /* Text color for the title */
    font-size: 24px; /* Adjust the font size as needed */
    letter-spacing: 3px;
    font-family: tahoma;
    text-align: center; /* Center the text horizontally */
    align-items: center;
}



.art-containers.collaborations {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 90%;
    height: 100%;
    gap: 1em;
    margin: 0 auto; /* Center horizontally */
    margin-top: 20%;
    margin-bottom: 10%;
}
.art-containers .collaborations{
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 90%;
    height: 100%;
    gap: 1em;
    margin: 0 auto; /* Center horizontally */
    margin-top: 10em;
    margin-bottom: 5em;
}


.individual-container.collaborations {
    margin: 2em;
    width: auto;
    height: 20em;
    background-color: #d1cabd;
    /* background-color: #413e39; */

    display: flex; /* Add this to center the content inside individual-container */
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center content horizontally within individual-container */
}
.individual-container .collaborations video{
    object-fit: cover;
    width: 100%;
    height: auto;
    opacity: 0.4;
    filter: blur(1px);
    transition: all 0.5s ease;
}
.individual-container.collaborations img{
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 40em;
    opacity: 1;
    filter: blur(0);
    transition: all 0.3s ease;
}


.individual-container.collaborations img:hover{
    opacity: 0.5; 
    filter: blur(2px);

}
.individual-container .collaborationsvideo:hover{
    opacity: 0.4; 
    filter: blur(2px);

}
.individual-container-title.collaborations{
    position: absolute;
    width: auto;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.462); /* Background color for the title bar */
    padding: 5px; /* Add padding for spacing */
    color: white; /* Text color for the title */
    font-size: 24px; /* Adjust the font size as needed */
    letter-spacing: 3px;
    font-family: tahoma;
    text-align: center; /* Center the text horizontally */
    align-items: center;
}


/* -------Sound--------------- */
/* .individual-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;

} */
