
/* ----------DESKTOP---------------------------- */
@media only screen and (min-width: 1080px) {
.desktop-content{
  display: block;
}
.mobile-content{
  display: none;
}
.looped-video{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 10%;
  width: 65%;
  left: 20%;
  justify-content: space-evenly;
}

.project-video {
  object-fit: cover;
  width: 75vw; 
  height: 30vh; 
  margin-bottom: 5vh; 
  padding-top: 4vh;
  transition: height 0.7s;
}

.video-container {
  position: relative;
  width: 75vw;
  height: auto;
  padding-top: 5vh;
  overflow: hidden;
  z-index: 0;

}
  
.video-container.clicked {
  position: absolute;
  top: 0;
  left: 0;
  width: 75vw;
  height: 35vh;
  z-index: 1; 
}
 
.video-container.clicked video {
  height: 100%;
}

.video-container.clicked .project-details {
  display: block;
}

.project-title {
  display: block;
  position: absolute;
  font-size: 24px;
  bottom: 3vh;
  left: 0;
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.578); 
  transition: opacity 0.7s;
  width: 100%;
  text-align: center;
  background-color: none;

}


.video-container:hover .project-title {
  color:rgb(255, 255, 255);
  background-color: #ff0404;
  z-index: 3;
}
.video-container:hover .project-video{
  height: 34vh; 
}

.video-container.clicked .project-title {
  display: none;
}

.video-container:first-child {
  z-index: 1;
}





.top-bar{
display: none;
}
.inst-titles{
display: none;
}
.mobile-content{
display: none;
}
img{
 display: none;

}
#customDesc {/* description  container*/
display: none;
}

.vimeo-container {          /* Echoes Vimeo  */
display: none;
}

.youtube-container {  
display: none;
}

iframe{
display: none;
}
.separation{
display: none;
}
}



/* ----------Mobile--------------------------------------- */
@media only screen and (max-width: 1079px) {

.mobile-content{
  display: block;
}
.desktop-content{
  display: none;
}

.top-bar{
  position: fixed;
  width: 100%;
  height: 7vh;
  /* color: rgb(20,20,20); */
  background-color: rgb(20,20,20); 
  top: -2vh;
  left:0;
  z-index: 0;
}
.inst-titles{
  position: relative;
  width: 100%;
  font-size: 24px;
  color: white;
  margin-top: 0vh;
  margin-bottom: 3vh;
  padding: 0;
  text-align: center;
  border: 0.5px solid #7a7a7a;
  z-index: -1;
}
.mobile-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
  margin-right: 3%;
  padding: 0;
  width: 95%;
  top:5vh;
  height: fit-content;
  /* background-color: #ff0404; */
  z-index: -3;
}
img{
  top: 10vh;
  width: 100%;
  margin-bottom: 5vh;

}
#customDesc {/* description  container*/
  /* position: absolute; */
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #c1c1c1;
  font-size: 14px;

  letter-spacing: 1px;
  line-height: 20px;
}

.vimeo-container {          /* Echoes Vimeo  */
  position: relative;
  align-items: center;
  display: flex;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
  height: auto;
  padding-bottom: 5vh;

  padding: 85% 0 0 0;
}

.youtube-container {  
  position: relative;        /* Echoes Vimeo  */

  margin-top: 5vh; /*use this when I don't want it to overlap with text no matter the screen size*/
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  padding-bottom: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

iframe{
  width: 90%;
  height: 90%;
}
.separation{
  width: 100%;
  height: 10vh;
}




.looped-video{
  display: none;
}

.project-video {
  display: none;
}

.video-container {
  display: none;
}
 
.project-title {
  display: none;
}

}
