

  /* ----------DESKTOP---------------------------- */
  @media only screen and (min-width: 1080px) {
    .container { /*container of the entire section for sound*/
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 7vh;
      height: fit-content;
      width: 100%;
    }
  
  .soundcloud-container { /*just for the soundcloud embedded*/
    position: relative;
    top: 3vh;
    display: flex;
    flex-direction: column;
    grid-gap: 5vh;
  }
  
  .soundcloud-item { /*Each single item in the soundcloud container*/
    margin-bottom:1vh;
  }
  
  .text {
    position: relative;
    width: 100%; /* Adjust the width as needed */
    color:white;
  }
  
  .text h2 {
    font-size: 24px;
  }
  .text p{
    font-size:18px ;
  }

  #sketch{ /* The p5 sketch*/
    position: fixed;
    width: 100%;
  }

  iframe{
    width: 50vw;
    height: 20vh;
    overflow: hidden;
    
  }
  }



/* ------------- ----------------------------------------------------*/
/* ------------- ----------------------------------------------------*/
/* ------------- ----------------------------------------------------*/

@media only screen and (max-width: 1079px) {
  .container { /*container of the entire section for sound*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    height: fit-content;
    width: 100%;
  }

  iframe{
    width: 80vw;
    height: 10vh;
    overflow: hidden;
  
    
  }
      
  .soundcloud-container { /*just for the soundcloud embedded*/
    position: relative;
    top: 3vh;
    display: flex;
    flex-direction: column;
    grid-gap: 10vw;
  }
  
  .soundcloud-item { /*Each single item in the soundcloud container*/
    margin-bottom:1vh;
  }
  
  .text {
    position: relative;
    width: 100%; /* Adjust the width as needed */
    color:white;
  }
  
  .text h2 {
    font-size: 12px;
  }
  .text p{
    font-size:12px ;
  }

  #sketch{ /* The p5 sketch*/
    display: none;
  }
}