body{
  background-color: rgb(20,20,20);
  /* background-color: rgb(0, 0, 0); */
  /* background-color: #c8b59a; */
}



/* ----------DESKTOP---------------------------- */
@media only screen and (min-width: 1080px) {

h1{
  padding-left: 5vw;
  font-size: 45px;
  color:#ff0404;
  animation: glitch-effect 5s linear infinite;
  transition: font-size 0.5s ease;
}
h1.small {
  padding-left: 5vw;
  font-size: 30px;
  color:#ff0404;
  animation: glitch-effect 5s linear infinite;
}

.fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  .fixed-background .navbar {
    margin: 0;
    padding: 10px;
  }

.navbar {

    width: fit-content; /* Adjust the width as needed */
    /* background-color: #f0f0f0; */
    /* z-index: 5; */
  }
  
  .navbar ul {
    list-style-type: none;
    padding-left: 5vw;
    margin: 0;
  }
  
  .navbar li {
    margin: 1vh 0; 
    position: relative; /* Enable relative positioning */
  }
  
  .navbar a {
    font-size: 22px;
    display: block;
    padding: 1vh;
    text-decoration: none;
    color: #7a7a7a;
    position: relative; /* Enable relative positioning */
    transition: font-size 0.3s ease; /* Animation transition */

  }
  
  .navbar a:hover::after {
    transform: scaleX(1); /* Final state - line width expands to full */
  }

  .navbar a:hover{
    color: white;
    font-size: 26px;

  }

  @keyframes glitch-effect {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(-5px);
      opacity: 0.8;
    }
    40% {
      transform: translateX(5px);
      opacity: 0.2;
    }
    60% {
      transform: translateX(-1px);
      opacity: 0.8;
    }
    80% {
      transform: translateX(1px);
      opacity: 0.2;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .bottom-bar{
    display: block;

    position: relative;
    /* background-color: #000000; */
    /* background: linear-gradient(to top, #54545438 0%, rgba(0, 0, 0, 0) 100%); */
    height: 3vw;
    bottom: 0vw;
    left: 0;
    width: 100%;
  }

  .bottom-bar span{
    display: block;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0vw;
    bottom: 0;
    height: 50px;
    color: #b7b5b5;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 14px;
    text-shadow: 5px 0px 0px #ff0404;
}





.mobile-menu {
  display: none;
}



}

/* ------------------------------------- */

@media only screen and (max-width: 1079px) {


  /* Navigation bar for mobile!!! */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5%;
    z-index: 9999;
  }
  
  .menu-toggle {
    position: absolute;
    top: 0.5vh;
    left: 2vw;
    display: block;
    width: 30px;
    height: 0.5px;
    cursor: pointer;
  }
  
  .menu-toggle span {
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    background-color:#ff0404;
    margin-top: 0.5em;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-items {
    display: none;
    position: absolute;
    top: 130%; 
    left: 0;
    right: 0;
    background-color: #430202cc;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-items li {
    text-align: center;
    padding: 10px;
  }
  
  .menu-items li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
  }



  h1{
    animation: glitch-effect 5s linear infinite;
    transition: font-size 0.5s ease;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 0.5vh;
    color:#ff0404;
    font-size: 25px;
    white-space: nowrap;
    letter-spacing: 5px;
  }
  
  .too-large-title h1{
    top: 5vh;
    animation: glitch-effect 5s linear infinite;
    transition: font-size 0.5s ease;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 0.5vh;
    color:#ff0404;
    font-size: 18px;
    white-space: nowrap;
    letter-spacing: 0px;
  }

  .fixed-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }
    
    .fixed-background .navbar {
      display: none;
    }

  
    @keyframes glitch-effect {
      0% {
        transform: translateX(0);
        opacity: 1;
      }
      20% {
        transform: translateX(-5px);
        opacity: 0.8;
      }
      40% {
        transform: translateX(5px);
        opacity: 0.2;
      }
      60% {
        transform: translateX(-1px);
        opacity: 0.8;
      }
      80% {
        transform: translateX(1px);
        opacity: 0.2;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  
    .bottom-bar{
      position: relative;
      /* background-color: #000000; */
      /* background: linear-gradient(to top, #54545438 0%, rgba(0, 0, 0, 0) 100%); */
      height: 3vw;
      bottom: 0vw;
      left: 0;
      width: 100%;
    }
  
    .bottom-bar span{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0vw;
      bottom: 0;
      height: 50px;
      color: #b7b5b5;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 14px;
      text-shadow: 5px 0px 0px #ff0404;
  }







  .navbar {
    display: none;
    /* width: fit-content; Adjust the width as needed */
  }
  
  .navbar ul {
    display: none;
    /* list-style-type: none;
    padding-left: 5vw;
    margin: 0; */
  }
  
  .navbar li {
    display: none;
  }
  
  .navbar a {
    display: none;
  }
  
  .navbar a:hover::after {
    display: none;
  }

  .navbar a:hover{
    display: none;
  }


    
  .bottom-bar{
    position: relative;
    /* background-color: #000000; */
    /* background: linear-gradient(to top, #54545438 0%, rgba(0, 0, 0, 0) 100%); */
    height: 1vw;
    bottom: 0vw;
    left: 0;
    width: 100%;
    
  }

  .bottom-bar span{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0vw;
    bottom: -1vh;
    height: 50px;
    color: #b7b5b5;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 10px;
    text-shadow: 3px 0px 0px #ff0404;


}


}
