@font-face {
  font-family: pretendar;
  src: url(font/variable/PretendardVariable.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: pretendar, sans-serif;
  box-sizing: border-box;
}

/* -----------------Desktop-------------------------- */
/* -----------------Desktop-------------------------- */
/* -----------------Desktop-------------------------- */
@media only screen and (min-width: 1000px){
  html, body {
  /* background-color: rgba(196, 196, 196, 0.767); */
  background-color: white;
  overflow-x: hidden;
}
.logo {
  position: fixed;
  top: 1em;
  left: 1em;
  width: 10em;
  z-index: 1000;
}

.logo img {
  width: 100%;
}

/* Home Projects */
.project-list {
  padding: 5em 2em 2em 2em;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.project {
  display: flex;
  align-items: center;
  gap: 4em;
  cursor:cell;
  flex-wrap: wrap;
  width: 50%;
}

.project-title {
  flex: 1;
  font-size: 1.5em;
  max-width: 25%;
  transition: all 0.3s ease;
  font-weight: 100;
  color: rgb(73, 73, 73);


  &:hover{
    color: rgb(0, 0, 0);
      font-weight: 400;

  }
}
.project img {
  flex: 2;
  width: 20%;
  transition: transform 0.6s;
  filter: grayscale(80%);

}

.project img:hover {
  transform: scale(1.01);
  filter: none;
}


/* Detail View Slide-in */
.project-page {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background-color: rgb(196, 196, 196);
  transition: left 1s ease;
  z-index: 999;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.project-page.visible {
  left: 0;
}
audio#player {
  width: 60%;           
  margin: 1em auto;     
  display: block;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline {
  filter: invert(1); 
}

#project3{
  background-color: rgb(185, 175, 166);
}
#project3 audio::-webkit-media-controls-panel {
   background-color:rgb(185, 175, 166);
}
#project4{
  background-color: rgb(197, 188, 180);
}
#project4 audio::-webkit-media-controls-panel {
  background-color: rgb(197, 188, 180);
}
#project5{
  background-color: rgb(159, 166, 183);
}
#project6{
  background-color: rgb(194, 208, 197);
}

 .back-btn {
  position: sticky; 
  top: 1em;
  left: 1em;
  z-index: 1001;
  border: none;
  font-size: 2.5em;
  background: none;
  cursor: pointer;
  font-weight: 300;
  transition: all 0.3s ease;
}

.project-page .back-btn:hover {
  font-weight: 700;
}



.project-info {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 0em; 
  margin-left: auto;
  margin-right: auto;
  width: fit-content;        
}

.project-info h1 {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  width: fit-content;
}

.project-info h2 {
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 0.5em;
}


.project-info,
.description,
.images {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 1s ease-out, transform 1s ease-out;
  text-align: center;

}
.project-info.revealed,
.description.revealed,
.images.revealed {
  opacity: 1;
  transform: translateY(0);
}
.images{
  width: 100%;
  margin-bottom: 2em;
}
.images img{
  width: 90%;
  margin-bottom: 2em;
}


.description {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;

  width: 50%;            
  text-align: left;       
}

.description p {
  width: 100%;     
  font-weight: 200;  
  font-size: 1.1em;    
  margin: 0 auto;        
}

video{
  width: 90%;
}

::selection {
  background-color: #983336; 
  color: #c4bdbd;             
}

}




/* -----------------Mobile-------------------------- */
/* -----------------Mobile-------------------------- */
/* -----------------Mobile-------------------------- */
@media only screen and (max-width: 999px){
html, body {
  background-color: white;
}
  .logo {
  position: fixed;
  top: 1em;
  left: 2em;
  width: 12em;
  z-index: 1000;
}
.logo img {
  width: 100%;
}

/* Home Projects */
.project-list {
  padding: 10em 2em 20em 2em;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.project {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
  }


  .project img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(75%);
  }

  .project-title {
    position: absolute;
    top: -2.5em; /* Adjust as needed */
    left: 0em;
    right: 1em;
    font-weight: 500;
    font-size: 1.8em;
    padding: 0.5em;
    z-index: 2;
  }


/* Detail View Slide-in */
.project-page {
  position: fixed;
  top: 0em;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background-color: rgb(196, 196, 196);
  transition: left 1s ease;
  z-index: 999;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.project-page.visible {
  left: 0;
}
audio#player {
  width: 90%;           
  margin: 1em auto; 
  margin-bottom: 5em;    
  display: block;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline {
  filter: invert(1); 
}

#project3{
  background-color: rgb(185, 175, 166);
}
#project3 audio::-webkit-media-controls-panel {
   background-color:rgb(185, 175, 166);
}
#project4{
  background-color: rgb(197, 188, 180);
}
#project4 audio::-webkit-media-controls-panel {
  background-color: rgb(197, 188, 180);
}
#project5{
  background-color: rgb(159, 166, 183);
}
#project6{
  background-color: rgb(194, 208, 197);
}

 .back-btn {
  position: sticky; 
  top: 1em;
  left: 1em;
  z-index: 1001;
  border: none;
  font-size: 4em;
  background: none;
  cursor: pointer;
  font-weight: 300;
  transition: all 0.3s ease;
  color: black
}

.project-page .back-btn:hover {
  font-weight: 700;
}



.project-info {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 0em; 
  margin-left: auto;
  margin-right: auto;
  width: fit-content;    
      
}

.project-info h1 {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  width: 100%;;
}

.project-info h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-top: 0.5em;
}


.project-info,
.description,
.images {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 1s ease-out, transform 1s ease-out;
  text-align: center;

}
.project-info.revealed,
.description.revealed,
.images.revealed {
  opacity: 1;
  transform: translateY(0);
}
.images{
  width: 100%;
  margin-bottom: 25em;
}
.images img{
  width: 90%;
  margin-bottom: 1em;
}


.description {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 90%;            
  text-align: left;       
}

.description p {
  width: 100%;     
  font-weight: 200;  
  font-size: 1.6em;    
  margin: 0 auto;        
}

video{
  width: 90%;
}


::selection {
  background-color: #983336; 
  color: #c4bdbd;             
}
}
