*{
    text-decoration: none;
    font-family: 'HelveticaNeue-Light';
    color: black;
}


/* ----------DESKTOP---------------------------- */
@media only screen and (min-width: 1080px) {
      /* ----------Scroll Bar ----------- */
    body {
        /* Set the width of the scrollbar to 0vw (hide it) */
        scrollbar-width: none; /* For Firefox */
      }
      
      body::-webkit-scrollbar {
        width: 0; /* Hide the scrollbar for Chrome/Safari/Edge */
      }
      
      body::-webkit-scrollbar-track {
        background-color: #191714; /* Color of the scrollbar track */
      }
      
      body::-webkit-scrollbar-thumb {
        background-color: #bbbaba; /* Color of the scrollbar handle */
      }
      
      body::-webkit-scrollbar-thumb:hover {
        background-color: #54746c; /* Color of the scrollbar handle on hover */
      }
      .container {
        /* Set the width of the scrollbar to 0vw (hide it) */
        scrollbar-width: none; /* For Firefox */
      }
      
      .container::-webkit-scrollbar {
        width: 0; /* Hide the scrollbar for Chrome/Safari/Edge */
      }
      
      
/* width */
::-webkit-scrollbar {
    width: 0vw;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9d9d9d;
    border-radius: 10px;
    height: 10px;
    /* the actual bar */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bd5050;
  }

  /* ----------Scroll Bar ----------- */

  .container {
    position: absolute;
    display: flex;
    flex-direction: row; 
    overflow-x: scroll;
    overflow-y: hidden; 
    top: 20vh;
    height: 75vh;
    width: 130vw;
}

.image-container {
    position: relative;
    width: 100%; 
    margin: 0em 1em 0;
}
.image-container.toad {
    margin-bottom: 5em;  
    margin-left: 4em;  
}
.image-container.nowhere{
    top: 3vh;
    margin-bottom: 7em;
    margin-left: 2em;  
}
.image-container.kika {
    margin-bottom: 4em;
    margin-right: 4em;
    margin-left: 2em;
}

.base-image,
.overlay-image {
    width: 100%;
    height: auto;
    transition: opacity 0.6s ;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-container:hover .overlay-image {
    opacity: 1;
}
.art-titles {
    position: absolute;
    width: 100%;
    font-size: 24px;
    color: #191714;
    text-align: center;
    bottom: -2em; 
    z-index: 1;
}



}



/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/

@media only screen and (max-width: 1079px) {
      /* ----------Scroll Bar ----------- */
      body {
        /* Set the width of the scrollbar to 0vw (hide it) */
        scrollbar-width: none; /* For Firefox */
      }
      
      body::-webkit-scrollbar {
        width: 0; /* Hide the scrollbar for Chrome/Safari/Edge */
      }
      
      body::-webkit-scrollbar-track {
        background-color: #191714; /* Color of the scrollbar track */
      }
      
      body::-webkit-scrollbar-thumb {
        background-color: #bbbaba; /* Color of the scrollbar handle */
      }
      
      body::-webkit-scrollbar-thumb:hover {
        background-color: #54746c; /* Color of the scrollbar handle on hover */
      }
      .container {
        /* Set the width of the scrollbar to 0vw (hide it) */
        scrollbar-width: none; /* For Firefox */
      }
      
      .container::-webkit-scrollbar {
        width: 0; /* Hide the scrollbar for Chrome/Safari/Edge */
      }
      
      
/* width */
::-webkit-scrollbar {
    width: 0vw;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9d9d9d;
    border-radius: 10px;
    height: 10px;
    /* the actual bar */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bd5050;
  }

  /* ----------Scroll Bar ----------- */

  .container {
    position: absolute;
    display: flex;
    flex-direction: column; 
    overflow-x: hidden;
    overflow-y: scroll; 
    align-items: center;
    top: 15vh;
    height: fit-content;
    width: fit-content;
    margin-right: 1vw;
    margin-left: 1vw;

}

.image-container {
    position: relative;
    width: 100%; 
    margin: 0em 1em 0;
}
.image-container.toad {
    margin-bottom: 5em;  
    margin-left: 2em;  
}
.image-container.nowhere{
    top: 3vh;
    margin-bottom: 7em;
    margin-left: 2em;  
}
.image-container.kika {
    margin-top: 1vh;
    margin-bottom: 4em;
    /* margin-right: 4em;
    margin-left: 2em; */
}

.base-image,
.overlay-image {
    width: 100%;
    height: auto;
    transition: opacity 0.6s ;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-container:hover .overlay-image {
    opacity: 1;
}
.art-titles {
    position: absolute;
    width: 100%;
    font-size: 24px;
    color: #191714;
    text-align: center;
    bottom: -2em; 
    z-index: 1;
}
}