*{
    text-decoration: none;
    font-family: 'HelveticaNeue-Light';
    letter-spacing: 0.1rem;
    color: rgb(255, 255, 255);

}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(27, 22, 22);

}
  /* ----------DESKTOP---------------------------- */
  @media only screen and (min-width:880px) {
    .background-img img{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
      object-fit: cover; 
      object-position: center;
      z-index: -1; 
    }
    .logo img{
      position: fixed;
      top:4vh;
      left: 3vw;
      width: 8vw;
      height: auto;
    }

    .menu-list{
      position: absolute;
      top: 3vw;
      width: fit-content;
      left: 30%;
      color: rgb(255, 255, 255);

    }
    em{
      color: rgb(255, 255, 255);
    }
    ul {
      list-style-type: none; 
      margin: 0; 
      padding: 0; 
    }
    
    li{
      color: rgb(255, 255, 255);
      margin-bottom: 2vh;
      padding: 1vw;
      width: fit-content;
      transition: all 0.3s ease;
      border-radius: 10px;
      font-size: 1.2em;

      &:hover{
        cursor: crosshair;
        background-color: rgba(94, 107, 114, 0.502);
      }

    }

  }

/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/

@media only screen and (max-width: 879px) {
  .background-img img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%; 
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
  .logo img{
    position: fixed;
    top:4vh;
    left: 5vw;
    width: 25vw;
    height: auto;
  }
  .menu-list{
    position: absolute;
    top: 20vw;
    width: fit-content;
    left: 20%;
    color: rgb(255, 255, 255);

  }
  em{
    color: rgb(255, 255, 255);
  }
  li{
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    list-style-type: none; 
    margin-bottom: 1.5vh;
    padding: 1vw;
    width: fit-content;
    transition: all 0.3s ease;
    border-radius: 10px;
    &:hover{
      cursor: crosshair;
      background-color: rgba(82, 115, 137, 0.502);
    }
  }

  ul {
    padding: 0; 
  }
  
  .category {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 8%; 
  }
  
  .category::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px; 
    background-color: black; 
    transition: width 0.3s ease-in-out; 
  }
  
  .category:hover::before {
    width: 100%; 
  }
}
