*{
    text-decoration: none;
    font-family: 'HelveticaNeue-Light';
    letter-spacing: 0.1rem;
    color: black;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* ----------DESKTOP---------------------------- */
  @media only screen and (min-width: 1080px) {

  /* ---------------Logo Heading---------------------- */
  .loading-screen{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
  }

  .video-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  #logo-video {
    opacity: 1; 
    transition: opacity 3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #logo-video::-webkit-media-controls {
    display: none;
  }
  
  #logo-video {
    width: 60%;
    height: auto;
    object-fit: contain;
  }

  .logo-fade-out {
    opacity: 0;
    transition: opacity 1s ease;
  }

  #top-logo {
    position: fixed;
    top: 5vh;
    left: 60%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for center alignment */
    opacity: 0; /* Initially hidden */
    pointer-events: none; 
  }

  #top-logo img{
    width: 50%;
    height: auto;
  }


  .portfolio-content {
    position: absolute;
    white-space: nowrap;
    font-size: 25px;
    opacity: 0; /* Initially set to invisible */
    transition: opacity 1s ease; /* Smooth transition effect */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100vh; /* Adjust as needed */
  }
  
.category {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 8%; 
}

.category::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px; /* Adjust this value to control the thickness of the line */
  background-color: black; /* Change this to the color you want for the line */
  transition: width 0.3s ease-in-out; /* Adjust the transition timing as needed */
}

.category:hover::before {
  width: 100%; /* Make the line span the width of the text */
}
}



/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/

@media only screen and (max-width: 1079px) {
  /* ---------------Logo Heading---------------------- */
  .loading-screen{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
  }

  .video-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #logo-video {
    opacity: 1; 
    transition: opacity 3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #logo-video::-webkit-media-controls {
    display: none;
  }
  
  #logo-video {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .logo-fade-out {
    opacity: 0;
    transition: opacity 1s ease;
  }

  #top-logo{
    position: absolute;
    top: 5vh;
  }
  #top-logo img{
    width: 100%;
    height: auto;
  }


  .portfolio-content {
    position: absolute;
    white-space: nowrap;
    font-size: 20px;
    opacity: 0; /* Initially set to invisible */
    transition: opacity 1s ease; /* Smooth transition effect */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100vh; /* Adjust as needed */
  }
  
  .category {
    opacity: 0;
    transition: opacity 1s ease;
    margin-bottom: 20px; /* Adjust spacing between categories */
  }
  .category:hover{
    cursor: pointer;
    transition: 0.1s ease-in-out;
    background-color: rgb(201, 226, 227);
  }
}