
/* --------------MOBILE----------------------- */
@media (max-width: 868px) {
* {
text-decoration: none;
font-family: "Hind Siliguri";
letter-spacing: 0.0rem;
color: black;
}

html, body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
}

.centered {
display: flex;
justify-content: center;
align-items: center;
width: 50%;
transform: translateX(50%);
height: 100%;
}

.centered img {
width: 100%;
height: auto;
cursor: pointer;
}

#top-logo {
position: fixed;
display: flex;
justify-content: center;
align-items: center;
width: 50%;
transform: translateX(50%);
height: 100%;
}
    
#top-logo img {
width: 80%;
height: auto;
}

.home-page {
display: flex; /* Ensure that flex is being used */
justify-content: left; 
align-items: center; 
width: 100%;
height: 100%;
flex-direction: row;
text-align: left;

}
/* -------------- */

.category {
display: flex;
flex-direction: column;
width: 100%; 
margin-bottom: 8%;
}
.category:hover::before {
width: 100%; 
}
/*------ menu items------ */
.menu-item {
width: fit-content; 
}
/* ----- for artist content--- */
.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 50;
display: block;
}
/*------ Container for the artist list----- */
.portfolio-content {
position: fixed;
width: 100%;
height: 100%;
}
/* --------Styles for artist list items ------*/
#artist-list {
position: absolute; 
list-style: none;
margin-top: 0;
padding: 0;
left: 5%;
width: 90%; 
min-height: 100%;
height: fit-content;
border-left: 0.5px solid black; 
border-right: 0.5px solid black; 
}
/* ----Scattered list------------- */
#artist-list li {
position: absolute; 
font-family: "Hind Siliguri";
font-weight: 450;
font-style: normal;
font-size: 18px;
padding: 10px;
cursor: cell;
text-align: left;
border-radius: 10px;
white-space: nowrap;
background-color: rgba(255, 255, 255, 0.8); 
border: 1px solid #ddd; 
}
  

/* ------ positions for each list item------- */
#artist-list li:nth-child(1) {
/* where are you really from? */
    top: 10%;
    left: 2%;
}
#artist-list li:nth-child(2) {
    /* echoes */
    top: 20%;
    left: 2%;
}
#artist-list li:nth-child(3) {
    /* actually nowhere  */
    top: 30%;
    left: 2%;
}
#artist-list li:nth-child(4) {
    /* toad */
    top: 40%;
    left: 2%;
}
#artist-list li:nth-child(5) {
    /* temper */
    top: 50%;
    left: 2%;
    }
#artist-list li:nth-child(6) {
    /* exhibitions */
    top: 60%;
    left: 2%;
}
#artist-list li:nth-child(7) {
    /* about */
    top: 70%;
    left: 2%;
}
#collab-list {
    margin-top: 0vh;
    list-style: none;
    padding: 0; 
    width: fit-content;
}
.navbar-titles {
font-family: "Hind Siliguri";
font-weight: 400;
font-size: 20px;
color: rgb(87, 87, 87);
white-space: nowrap;
text-align: left; 
width: 100%; 
padding-left: 5px; 
padding-right: 5px;
}
/* ------Hover effect for artist names--- */
#artist-list li:hover {
background-color:rgba(216, 213, 213, 0.681);
width: fit-content;
transition: all 0.3s ease-in;
}
/* -----------Pages-------- */
#content {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
position: absolute;
top: 0;
left: 5%;
width: 90%;
max-width: 90%;
height: 100%;
overflow-y: scroll;
overflow-x: hidden;
margin-bottom: 10rem;
background-color: rgb(255, 255, 255);
}
/* -----Scrollbar--------*/
#content::-webkit-scrollbar {
width: 10px; 
}
#content::-webkit-scrollbar-track {
background: #ffffff; 
}
#content::-webkit-scrollbar-thumb {
background-color: #ffffff; 
border-radius: 10px; 
border: 1px solid #444444; /
}
#content::-webkit-scrollbar-thumb:hover {
background-color: #ffffff; 
}
/* ----Exit button------ */
#exit-icon {
position: fixed; 
top: -3rem; 
cursor: cell; 
z-index: 1000; 
}
.exit-icon {
width: 1rem; 
height: auto;
}
/* ----Head image------ */
#content img {
max-width: 100%;
height: auto;
margin-top: 5rem;
}
/* --------About Photo and desc----- */
.about-content {
display: flex; 
align-items: flex-start; 
gap: 3rem; 
margin-top: 1rem; 
}
.about-image {
width: 45%;
min-width: 45%;
height: auto;
}
.about-description {
flex: 1; 
max-width: 50%;
}
/* ------Toad image gallery----- */
.gallery {
display: flex; 
flex-wrap: wrap; 
gap: 1rem; 
margin-top: 1rem; 
justify-content: center; 
margin-bottom: 5rem;
}
.gallery img {
width: 48%; 
height: auto; 
}
/* ------Nowhere image gallery----- */
.nowhere-gallery {
margin-top: -4rem;
}
.nowhere-gallery img{
width: 100%; 
height: auto; 
}
.nowhere-gallery video{
width: 100%;
height: auto; 
}
/* ------Temper Trauma image gallery----- */
.tt-gallery {
display: flex; 
flex-wrap: wrap; 
gap: 0.5rem; 
justify-content: center; 
}
.tt-gallery img{
width: 48%; 
height: auto; 
margin-bottom: 1rem;
}
.tt-gallery video{
margin-top: 3rem;
width: 100%;
height: auto; 
}
/* ----------BG img Echoes------- */
.bgImg-echoes {
position: fixed;
bottom: 0rem;
right: 2rem;
width: 15%;
height: auto;
z-index: 10;
opacity: 0;
overflow: hidden; /* Hide overflow to prevent image from showing outside its container */
transition: opacity 1s ease-in;
}

.bgImg-echoes.show {
opacity: 1;
animation: scroll-up 10s linear infinite; /* Trigger the scrolling animation */
}
.bgImg-echoes img {
width: 100%; 
height: auto;
display: block;
}

.bgImg-nowhere {
position: fixed;
bottom: 0rem;
right: 2rem;
width: 15%;
height: auto;
z-index: 10;
opacity: 0;
overflow: hidden; /* Hide overflow to prevent image from showing outside its container */
transition: opacity 1s ease-in;
}

.bgImg-nowhere.show {
opacity: 1;
animation: scroll-up 10s linear infinite; /* Trigger the scrolling animation */
}
.bgImg-nowhere img {
width: 100%; 
height: auto;
display: block;
}

@keyframes scroll-up {
0% {
    transform: translateY(0);
}
25%{
    transform: translateX(50%);
}
50% {
    transform: translateY(-150%);

}
75%{
    transform: translateX(-100%);
}
90% {
    transform: translateY(-50%);
}
100%{
    transform: translateY(0);
}
}








/* -----Heading Styles------ */
#content h2 {
font-weight: 300;
font-size: 30px;
margin: 0.5rem 0;
text-align: left;
margin-top: 2rem;
}
#content h3, #content p {
font-weight: 100;
font-size: clamp(15px ,18px, 20px);
line-height: 1.5em;
margin: 0.5rem 0;
text-align: left; 
}
/* -----image description -----*/
#content h4 {
align-self: flex-start;
font-weight: 100;
color: #7e7e7e;
font-size: clamp(15px, 15px, 20px);
margin-top: 0.5rem;
margin-bottom: 0;
text-align: left; 
}
#content a {
text-decoration: none;
color: inherit;
}
/*----- Highlight selected artist------ */
#artist-list li.active {
background-color: rgba(222, 201, 185, 0.9); 
width: fit-content;
}
/*--------------- Add keyframes animation ----------*/
@keyframes slideUp {
0% {
    transform: translateY(100%);
    opacity: 0.5;
}
100% {
    transform: translateY(0);
    opacity: 1;
}
}
.minimize {
animation: minimizeFromTop 0.5s ease-out forwards;
}
/*--------- Apply animation------- */
#content.show {
display: flex; 
animation: slideUp 1s ease-out; 
}

}



