* {
  text-decoration: none;
  font-family: 'HelveticaNeue-Light';
  letter-spacing: 0.1rem;
  color: black;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
}

.centered img {
  width: 15rem;
  height: auto;
  cursor: pointer;
}

#top-logo {
  position: fixed;
  top: 2rem;
  left: 2rem; 
  cursor: pointer;
  width: 10rem;
  display: none;
  z-index: 999;
}

#top-logo img {
  width: 100%;
  height: auto;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.portfolio-content {
  position: absolute;
  white-space: nowrap;
  font-size: 25px;
  opacity: 1; 
  transition: opacity 1s ease; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  overflow-y: hidden;
  height: 100%; 
}

.category {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 8%; 
}

.category::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px; 
  background-color: black; 
  transition: width 0.3s ease-in-out; 
}

.category:hover::before {
  width: 100%; 
}
