*{
  text-decoration: none;
  font-family: 'HelveticaNeue-Light';
}

html, body {
    margin: 0;
    padding: 0;
    height: auto;
  }

/* ----------DESKTOP---------------------------- */
@media only screen and (min-width: 1080px) {
/* ------------Top bar------------ */
#top-logo {
  z-index:999 !important;
  position: fixed;
  top: 5vh;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for center alignment */
  cursor: pointer;
  width: 20%;
}

#top-logo img{
  z-index: 999 !important;
  width: 100%;
  height: auto;
}

#back-button{
  z-index: 999 !important;
  position: fixed;
  top: 6vh;
  left: 2vw;
  cursor: pointer;
  width: 2%;
  transition: all 0.4s ease;

  &:hover{
    width: 2.5%;
  }
}
#back-button img{
  z-index: 999 !important;
  width: 100%;
  height: auto;
}
  
  .logo {
    z-index: 999 !important;
    flex: 0 0 auto; 
    margin-right: auto; 
    width: 15%;
    margin-bottom: 3%;
    margin-left: 1%;  
  }
  
  .logo img {
    width: 100%;
    height: auto;
    z-index:10;
  }
  
  .title {
    flex: 0 1 auto; 
    text-align: center; 
    margin: 0 2% 3%; 
    color: black;
    font-size: 30px;
    font-family: 'HelveticaNeue-Light';
    letter-spacing: 0.2rem;
    z-index: 999;
  }
}

/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/

@media only screen and (max-width: 1079px) {
  #top-logo {
    z-index:999 !important;
    position: fixed;
    top: 3vh;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for center alignment */
    cursor: pointer;
    width: 40%;
  }
  #top-logo img{
    z-index: 999 !important;
    width: 100%;
    height: auto;
  }
  #back-button{
    z-index: 999 !important;
    position: fixed;
    top: 4vh;
    left: 5vw;
    cursor: pointer;
    width: 4%;
    transition: all 0.4s ease;

    &:hover{
      width: 2.5%;
    }
  }
  #back-button img{
    z-index: 999 !important;
    width: 100%;
    height: auto;
  }
  .logo {
    z-index: 999 !important;
    flex: 0 0 auto; 
    margin-right: auto; 
    width: 15%;
    margin-bottom: 3%;
    margin-left: 1%;  
  }
  
  .logo img {
    width: 100%; /* Adjust as needed */
    height: auto;
    z-index:10;
  }
  
  .title {
    flex: 0 1 auto; 
    text-align: center; /* Center align the title */
    margin: 0 2% 3%; 
    color: black;
    font-size: 30px;
    font-family: 'HelveticaNeue-Light';
    letter-spacing: 0.2rem;
    z-index: 999;
  }

}