html, body {
    margin: 0;
    padding: 0;
    height: auto;
  }
  


/* ----------DESKTOP---------------------------- */
@media only screen and (min-width: 1080px) {
/* ------------Top bar------------ */
.top-bar {
  z-index: 10;
  position: fixed;
  top: 8vh;
  width: 100%;
  height: 2px;
  background-color: black;
  display: flex;
  align-items: center; 
}
  
  .logo {
    z-index: 999 !important;
    flex: 0 0 auto; 
    margin-right: auto; 
    width: 15%;
    margin-bottom: 3%;
    margin-left: 1%;  
  }
  
  .logo img {
    width: 100%; /* Adjust as needed */
    height: auto;
    z-index:10;
  }
  
  .title {
    /* position: absolute; */
    flex: 0 1 auto; 
    text-align: center; /* Center align the title */
    margin: 0 2% 3%; 
    color: black;
    font-size: 30px;
    font-family: 'HelveticaNeue-Light';
    letter-spacing: 0.2rem;
    z-index: 999;


  }
  



}







/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/

@media only screen and (max-width: 1079px) {

    /* ------------Top bar------------ */
.top-bar {
    position: fixed;
    top: 5vh;
    width: 100%;
    height: 1px;
    background-color: black;
    display: flex;
    align-items: center; /* Vertically center elements */
  }
  
  .logo {
    flex: 0 0 auto; /* Prevent logo from growing */
    margin-right: auto; /* Push the title and spacer to the right */
    width: 25%;
    margin-bottom: 5%;
    margin-left: 1%;
}
  
  .logo img {
    width: 100%; /* Adjust as needed */
    height: auto;
  }
  
  .title {
    /* position: absolute; */
    flex: 0 1 auto; 
    text-align: center; /* Center align the title */
    margin: 0 2% 6%; 
    color: black;
    font-size: 25px;
    font-family: 'HelveticaNeue-Light';
    letter-spacing: 0.1rem;

  }
}