* {
    text-decoration: none;
    font-family: 'HelveticaNeue-Light';
    letter-spacing: 0.1rem;
    overflow: hidden; 
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(27, 22, 22);
}
a{
    color: rgb(134, 173, 255);
    transition: all 0.3s;
    &:hover{
        color: #296189;
    }

    
}

/* ----------DESKTOP---------------------------- */
@media only screen and (min-width: 1080px) {
    .background-img img {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }

    .title {
        position: fixed;
        top: 4vh;
        left: 3vw;
        color: white;
        font-size: 1.2em;
        z-index: 4;
    }

    .container {
        display: flex;
        flex-direction: column;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 100vh;
    }


/* Text Section */
.text-section {
    position: absolute;
    left: 0;
    flex: none;
    scroll-snap-align: start;
    height: 100vh;
    overflow-y: scroll; 
}

.text-section .text {
    position: sticky; 
    color: white;
    font-size: 0.8em;
    top: 10%; 
    left: 3vw;
    padding: 10px;
    width: 25%;
    max-height: 80%; 
    line-height: 1.5em;
    background-color: rgba(36, 36, 36, 0.597);
    overflow-y: auto; 
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

    /* Image Section */
    .full-image {
        flex: none;
        position: relative;
        left: 30%;
        width: 68%;
        height: 90vh; 
        scroll-snap-align: start;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 10vh; 
        overflow: hidden; 
    }

    .full-image img {
        position: relative;
        max-width: 100%; 
        height: auto;
        align-self: flex-start; 
    }


    /* Padlet Embed Section */
    .padlet-container {
        flex: none;
        width: 75%;
        left: 30%;
        position: relative;
        height: 100vh;
        display: flex;
        scroll-snap-align: start;
        background-color: none;
    }

    .padlet-embed {
        overflow: hidden;
        position: relative;
        width: 90%;
        top: 5vh;
    }

    .padlet-embed iframe {
        width: 100%;
        height: 80vh;
        display: block;
        padding: 0;
        margin: 0;
    }

    .padlet-footer {
        display: none;
    }

    .padlet-footer a {
        display: block;
        flex-grow: 0;
        margin: 0;
        border: none;
        padding: 0;
        text-decoration: none;
    }

    .padlet-text {
        color: rgb(203, 203, 203);
        font-size: 1em;
        top: 0;
        padding-bottom: 1vh;
    }

 .toad-iframe {
        top:0;
        position: relative;
        width: 100%;
        padding-top: 45%; 
        overflow: hidden;
    }
    .toad-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

/* ----------MOBILE---------------------------- */
/* ----------MOBILE---------------------------- */
/* ----------MOBILE---------------------------- */

@media only screen and (max-width: 1079px) {
    .background-img img {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }

    .title {
        position: fixed;
        top: 4vh;
        left: 3vw;
        color: white;
        font-size: 2em;
        z-index: 2;
    }

    .container {
        display: flex;
        flex-direction: column;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 100vh;
    }

    /* Text Section */
    .text-section {
        flex: none;
        scroll-snap-align: start;
        height: 100vh;
    }

    .text-section .text {
        position: relative;
        color: white;
        font-size: 1.8em; /* was 1.5 */
        top: 10vh;
        left: 3vw;
        padding: 10px;
        width: 90%;
        line-height: 1.5em;
        background-color: rgba(36, 36, 36, 0.597);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }

    /* Image Section */
    .full-image {
        flex: none;
        position: relative;
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .full-image img {
        position: absolute;
        width: 120%;
        height: auto;
        object-fit: cover;
        z-index: -1;
    }

    /* ------Padlet Embed Section */
    .padlet-container {
        flex: none;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        scroll-snap-align: start;
        background-color: none;
    }
    .padlet-embed {
        overflow: hidden;
        position: relative;
        width: 90%;
        top: 10vh;
    }

    .padlet-embed iframe {
        width: 100%;
        height: 60vh;
        display: block;
        padding: 0;
        margin: 0;
    }

    .padlet-footer {
        display: none;
    }

    .padlet-footer a {
        display: block;
        flex-grow: 0;
        margin: 0;
        border: none;
        padding: 0;
        text-decoration: none;
    }

    .padlet-text {
        color: rgb(203, 203, 203);
        font-size: 1.5em;
        top: 0;
        padding-bottom: 1vh;
    }
}
