*{
    text-decoration: none;
    font-family: 'HelveticaNeue-Light';
    color: black;
}

html,body{
    /* background-color: rgba(177, 215, 110, 0.449); */
}
/* Desktop */
@media only screen and (min-width: 1080px) {

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e2e2e2;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c8c8c8;
  }
  #top-logo {
    z-index: 999 !important;
    position: fixed;
    top: 5vh;
    left: 60%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for center alignment */
    cursor: pointer;
}

  #top-logo img{
    z-index: 999 !important;
    width: 50%;
    height: auto;
  }

    .container {
        position: absolute;
        display: flex;
        flex-direction: row; 
        overflow-x: scroll;
        overflow-y: hidden;
        top: 20vh;
        max-height: 70vh;
        width: 130vw;
    }

    .container.below {
        position: absolute;
        display: flex;
        margin: 50em 0 0;  /* was 50 */
        flex-direction: row; 
    }
    .image-container {
        position: relative;
        /* overflow: hidden; */
        width: 100%; 
        margin: 0em 1em 0;
    }
    .image-container.where{
        height: fit-content;
        margin-top: 0em;
        margin-bottom: 15em;
    }
    .image-container.echoes{
        height: fit-content;
        top: -12vh;
    }
    .image-container.temper-trauma {
        height: fit-content;
        margin-bottom: 15em;
        margin-top: 0em; 
        margin-left: 0;
    }

    .base-image,
    .overlay-image {
        width: 100%;
        height: auto;
        transition: opacity 0.6s ;
    }
    
    .overlay-image {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
 
    .image-container:hover .overlay-image {
        opacity: 1;
    }
    /* .dividers {
        position: absolute;
        width: 100%;
        bottom: 0em;
        height: 2px;
        background-color: #4c4945;
        z-index: 0;
    } */
    .art-titles {
        position: absolute;
        width: 100%;
        font-size: 24px;
        color: #191714;
        text-align: center;
        bottom: 1em;
        z-index: 1;
    }
    

   

}



/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/

@media only screen and (max-width: 1079px) {
    .container {
        position: absolute;
        display: flex;
        flex-direction: column; 
        overflow-x: scroll;
        width: 100%;
    }

    .container.below {
        position: absolute;
        display: flex;
        margin: 0 0 0;
        flex-direction: row; 
    }
    .image-container {
        position: relative;
        overflow: hidden;
        width: 80%; 
        margin: 2em 2em 0;
    }

    .image-container.temper-trauma {
        margin-top: 3em; 
    }

    .base-image,
    .overlay-image {
        width: 100%;
        height: auto;
        transition: opacity 0.4s ;
    }
    
    .overlay-image {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
 
    .image-container:hover .overlay-image {
        opacity: 1;
    }
    /* .dividers {
        position: absolute;
        width: 100%;
        bottom: 0em;
        height: 2px;
        background-color: #4c4945;
        z-index: 0;
    } */
    .art-titles {
        position: absolute;
        width: 100%;
        font-size: 14px;
        color: #191714;
        text-align: center;
        bottom: 0.75em;
        z-index: 1;
    }
    

}